 body {
	 	font-family: Verdana, Geneva, sans-serif;	
		margin: 0;
		padding: 0;
		border: 0;
		background-color: none;
}

/*CSS for nav bar*/
.nav ul {
	list-style: none;
	background-color: #FFFFFF;
	text-align: left;
	float: right;
	
}
.nav {
	line-height: 40px;
	height: 40px;
	float: right;	
}
li {
    list-style-type: none;
	border-bottom: 1px solid #753F23;
	padding: 15px;
	
}
.nav a {
	text-decoration: none;
	color: #000000;
	display: block;
	transition: .3s background-color;	
}
.nav a:hover {
	text-decoration: underline;	
}
.nav a.active {
	text-decoration: underline;
	color: #000000;
	cursor: default;	
}

@media screen and (min-width: 600px) {
	.nav li {
		border-bottom: none;
		font-size: 15px;
		Display: inline-block;
		margin-right: 10px;		
	}

	.students {	
		width: 80%;
		display: block;
    margin-left: auto;
    margin-right: auto
		
}

/*Close Nav bar*/


/*Home Page*/

.students {	
		width: 80%;
		display: block;
    margin-left: auto;
    margin-right: auto
		
}

.redrec {
		background-color: #ed1c24;
		position: absolute;
		width: 100%;
		z-index:1;
}

.tsa {
		height: 10%;
		width: 20%;
		margin: 0;
		padding: 10px;
		border: 0;
}

.logo {
	float: left;
}

.text {
	position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 19px;
	color:white;
}
.slider1 {
	
}
.blurb {
	text-align: center;
}
/*Close Home Page*/

/*CSS for competition page pic*/

.competitionready {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Close Competition Page*/


/*CSS for Class Pages*/

.person {
	width: 100%;
	height: 100%;
		display: block;
    margin-left: auto;
    margin-right: auto;
	border: 0;
	padding-bottom: 0%;
	

}

.spacing {
	padding-top: 0%;
	padding-bottom: 0%;
	background-color: #ed1c24;
	width: 100%;
	border: 0;
	margin: 0;
	
}

h1 { 
	color: #ed1c24;
	font-size: 60px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	}
 
 header {
	 padding-bottom: 8%;
 }
 
 .digdescript {
	 float:left;
	 width:45%;
	 padding:0;
	 margin:0;
	 border:0;
	
 }
 
 .diginstuctor {
	 float:right;
	 width:50%;
	 padding:0;
	 margin:0;
	 border:0;
	 
 }
 
 .digawards {
	 float:right;
	 width:100%;
	 padding:0;
	 margin:0;
	 border:0;

	 
 }
 
 

 
/*Close Class Page*/


