 body {
	 	font-family: Verdana, Geneva, sans-serif;	
		margin: 0;
		padding: 0;
		border: 0;
}



.students {	
		width: 80%;
		display: block;
    margin-left: auto;
    margin-right: auto
		
}

.redrec {
		background-color: #ed1c24;
		position: absolute;
		width: 100%;
}

.tsa {
		height: 10%;
		width: 20%;
		margin: 0;
		padding: 10px;
		border: 0;
<<<<<<< HEAD
}
<<<<<<< HEAD
/*CSS for nav bar*/
.nav ul {
	list-style: none;
	background-color: #FFFFFF;
	text-align: left;
	float: rigth;
	
}
.nav {
	line-height: 40px;
	height: 40px;
	float: right;	
}
li {
    list-style-type: none;
	border-bottom: 1px solid #753F23;
	padding: 15px;
	
}
.nav a {
	text-decoration: none;
	color: #000000;
	display: block;
	transition: .3s background-color;	
}
.nav a:hover {
	text-decoration: underline;	
}
.nav a.active {
	text-decoration: underline;
	color: #000000;
	cursor: default;	
}

@media screen and (min-width: 600px) {
	.nav li {
		border-bottom: none;
		font-size: 15px;
		Display: inline-block;
		margin-right: 10px;		
	}
=======

.person {
		margin-top: 5%;
		margin-left: 10%;
		padding: 0;
		border: 0;
		height: 20%;
		width: 20%;
}
>>>>>>> origin/master

=======
		

}

.logo {
	float: left;
}

.text {
	position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 19px;
	color:white;


}

.engineeringsolo {
	
	width: 80%;
	display: inline;
    margin-left: -25%;
    margin-right: -25%;
	position: left;
<<<<<<< HEAD
>>>>>>> origin/master
}
=======
}
>>>>>>> origin/master
>>>>>>> origin/master
