body {
	font-family: 'Open Sans', sans-serif;
	margin: 20px auto;
	background-color: grey;
	width: 100%;
	min-width: 760px;
}


#page  {
	/* effects everything but footer */
    margin: 0 auto;
	
}

header {
	/* Top Navigation */
	background-color: #262626;
	width: 100%;
	height: 50px;
	display: inline-block;
	box-shadow: 0px 1px 50px #5E5E5E;
	float: left;
	padding: 0px;
	position: fixed;
	top: 0px;
	bottom:10%;
	z-index: 100; /* Keeps header over other items */
	
}

#mimg {
	/* no longer in use */
	display:inline-block;
	float: center;
	height: 50%;
	width: 50%;
	
}

#content {
	/* left column item */
	display:inline-block;
	width: 25%;
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
	text-align: center;
	height: 50px;
	
}

#middle {
	/* middle column item */
	display:inline-block;
	width: 40%;
	margin-left: 28%;
    margin-right: 28%;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
	text-align: center;
	height: 50px;
	
}

#sidebar {
	/* right column item */
	display:inline-block;
	width: 25%;
	float: right;
	position: absolute;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
	text-align: center;
	height: 50px;
	z-index: 3;
	
}

#pushing {
	padding-bottom:60px;
	
}


 footer {
	/* bottom footer */
	height:60px;
	background-color:#262626;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: left;
	color: grey;
	z-index: 50
	
}

/* Slider Start */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

	div#slider {
		overflow: hidden; 
}
		
	div#slider figure img {
		width: 20%; float: center;
}
		
	div#slider figure { 
		position: relative;
		width: 250%;
		margin-top: 30px;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 30s slidy infinite; 
		z-index:2;
		
}
/* Slider End */


ul{
	/* Header items */
    position: fixed;
    top: 5px;
    width: 100%;
	overflow: hidden;
	list-style-type: none;
    margin: 0;
    padding: 0;
	float: center;
	
}


li {
    float: left;
	
}


li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}


#innovation {
	margin-left: 20%;
    margin-right: 20%;
	text-align: center;
	height: 50px;
	float: center;
	position: absolute;
	
}


#solution {
	margin-left: 20%;
    margin-right: 20%;
	text-align: center;
	height: 50px;
	float: center;
	position: absolute;
	
}


#uses {
	margin-left: 20%;
    margin-right: 20%;
	text-align: center;
	height: 50px;
	float: center;
	position: absolute;
	
}


h2 {
	text-align: center;
	text-decoration: underline;
	
}


h3 {
	text-align: left;
	
}

#wrapper {
	min-height:100%;
	
}
